
body {
    margin: 0;
    overflow: hidden;
    /* MODIFICAR: Color de fondo de la página. */
    background-color: #050510;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    display: block;
}
                            